DATABASE_URL=
ROCKETCHAT_COMPOSE_DIR=
ROCKETCHAT_APP_ENGINE_DIR=
PROVISION_COMPOSE_RUNTIME=docker-compose

# Example for local Docker: http://localhost:3001/v1
# Example for server deployment: https://api.your-domain.com/v1
NEXT_PUBLIC_API_BASE_URL=

# Example for local Docker: http://localhost:3001
# Example for server deployment: https://api.your-domain.com
NEXT_PUBLIC_SOCKET_URL=
